*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.interface{
	height: 80vh;
	display: flex;
    background-image: url(./img/bg.jfif);
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.form-container{
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px black;
}

